<div class="container">
    <h1>View Customer</h1>
   
    <a href="#" routerLink="/customer/index" class="btn btn-primary">Back</a>
    
    <div>
        <strong>ID:</strong>
        <p>{{ customer.id }}</p>
    </div>
    
    <div>
        <strong>Name:</strong>
        <p>{{ customer.name }}</p>
    </div>
    
    <div>
        <strong>State:</strong>
        <p>{{ customer.state }}</p>
    </div>

    <div>
        <strong>Zip:</strong>
        <p>{{ customer.zip }}</p>
    </div>

    <div>
        <strong>Amount:</strong>
        <p>{{ customer.amount }}</p>
    </div>

    <div>
        <strong>Quantity:</strong>
        <p>{{ customer.qty }}</p>
    </div>

    <div>
        <strong>Item:</strong>
        <p>{{ customer.item }}</p>
    </div>
    
</div>
